.App {
  /* text-align: center; */
  font-family: 'Nunito', sans-serif;
  
}
body {
  margin: 0 auto;
}
/* Nav */
.nav {
  margin-top: 0px;
  width: 100%;
  position: fixed; 
  height: 140px; 
  top: 0;
  z-index: 99;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* min-height: 150px; */
  
  /* justify-content: space-around; */
  align-items: center;
  font-size:26px;
  /* margin-top: -20px; */
 
  
}
/* .sticky {
  width: 100%;
  position: fixed; 
  min-height: 150px;
  top: 0;
  z-index: 10;
} */
/* .logo {
  flex: grow;
} */
.logo-nav {
  
  /* display: flex; */
  justify-content: center;
  margin-top: 50px;

}
.link-items {
  margin-bottom: 30px;
  padding:15px;
  min-width: 600px;
  display: flex;
  justify-content: space-around;
}

.logo {
  border-radius: 100%;
  object-fit: cover;
  /* z-index: 8; */
  /* position: fixed; */
  margin-left: 10px;
}
.link {
  color: #747474;
  letter-spacing: 0.51px;
  text-decoration: none;
  cursor: pointer;
  /* padding: 15px;
  margin: 20px; */
}

.resy {
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  cursor:pointer;
}
span {
  background-color: white;
}

/* span p {
  color: red !important;
} */
/* Carousel */
.carousel {
  margin-top:120px;
}
.carousel-caption {
  left: -50%;
  right: 10px;
  font-family: 'Nunito', sans-serif;
  bottom: 40px;
  font-size: 64px;
  letter-spacing: 1.37px;
  color: #ffffff; 
}

.carousel-indicators li{
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 4px solid white;
  background:none;
  margin-left: 6px;
  
}

.carousel-indicators li .active{
  background-color: white !important;
  
}

/* Pic section */

.pic-section p {
  text-align: center;
  color: #747474;
  font-size: 36px;
}

.pic-gallery {
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 48px;
}

.pic-gallery img {
  object-fit: cover;
  height: 350px;
  width: 100%;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/* contact form */
.contact-section p {
  display: flex;
  align-self: center;
  /* text-align: center; */
}

.contact-us {
  font-size: 36px;
  font-family: 'Nunito', sans-serif;
  color: #747474;

}
.contact-section {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
}
.contact-form {
  /* margin: 0 auto; */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  flex-basis: 500px;
  flex-grow: 1;
  /* width: max-content; */
  height: 500px;
}

.contact-form .input {
  display: flex;
  font-style: oblique;
  width: -webkit-fill-available;
  margin: auto;
  border: 0;
  border-bottom: 1px solid black;
}

.form-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  
}

.bold {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.address {
  flex-grow: 1;
  text-align: center;
}



