* {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
  -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
  outline: none !important;
}
/* .white {
  background-color: white;
  color: red;
} */
.App {
  font-family: 'Nunito', sans-serif; 
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}
footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.footer-icon, .footer-icon-i {
  margin: 5px;
  padding: 5px;
  width: 70px;
  height: 70px;
}

.footer-icon-i {
  width: 65px;
  height: 60px;
}
/* Nav */
.nav {
  margin-top: 0px;
  width: 100%;
  position: fixed; 
  height: 140px; 
  top: 0;
  z-index: 99;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  /* min-height: 150px; */
  /* justify-content: space-around; */
  align-items: center;
  font-size:26px;
}


.logo-nav {
  justify-content: center;
  margin-top: 50px;
  background-color: white;
  border: solid 0.5px #322620;
  border-radius: 100%;
  object-fit: cover;
  margin-left: 10px;
}

.logo {
  width: 180px;
  height: 180px;
  margin-left: 10px;
}

.link-items {
  margin-bottom: 30px;
  padding:15px;
  min-width: 600px;
  display: flex;
  justify-content: space-around;
}

.link {
  color: #747474;
  letter-spacing: 0.51px;
  text-decoration: none;
  cursor: pointer;
  /* padding: 15px;
  margin: 20px; */
}

.resy {
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  cursor:pointer;
}
span {
  background-color: white;
  padding: 1px;
  color: red;
  font-size: bold;
}

/* span p {
  color: red !important;
} */

/* Carousel */
.carousel {
  margin-top:120px;
  background-blend-mode: darken;
}

.carousel-caption {
  left: -30%;
  right: 0;
  padding: 30px;
  font-family: 'Nunito', sans-serif;
  display:flex;
  flex-direction: column;
  justify-items: flex-start;
  font-size: 64px;
  letter-spacing: 1.37px;
  color: #ffffff; 
}
.w-100{
  background-blend-mode: darken;
}

.carousel-indicators li{
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 4px solid white;
  background:none;
  margin-left: 6px;
  margin-bottom: 20px;
}

.carousel-indicators > li.active{
  background-color: white !important;
  
}

.carousel-control-next, .carousel-control-prev {
  width: 7%;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}
.d-block,.w-100 {
  filter: brightness(50%);
}
.title {
  text-align: center;
  color: #747474;
  font-size: 36px;
}
/* Tabs */
/* Color tabs - active and non-active */
/* .nav-item, .nav-link {
   
} */
.tabs {
  position: unset !important;
  display: flex;
  font-size: 28px !important;
  
  flex-direction: row;
  justify-content: space-evenly !important;
  align-items: center;
}

/*About Us*/
.AboutUs{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items:center;
  padding: 20px;
  margin-top: 7em;
  margin-bottom: 7em;
}

.Info{
  font-family: 'Nunito', sans-serif;
  display:flex;
  flex-direction: column;
  align-items: center;
  /* either one for media query  */
  justify-content: center;
  height: 50%;
  width:  80%;
  font-size: 18px;
  margin-right: 3em;
  color: #4a4a4a;
}

.about_img {
  display:flex;
  align-self: center;
  width: 80%;
  height: 70%; 
  
}
.div-img {
  width: fit-content;
  display:flex;
  justify-content: center;
}

/* Pic section */

.pic-section p,.our-menu{
  text-align: center;
  color: #747474;
  font-size: 36px;
}

.pic-gallery {
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 48px;
}

#mobile-pic-gallery {
  display: none;
}

.pic-gallery img {
  object-fit: cover;
  height: 350px;
  width: 100%;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
}


/* Menu */
.menu-section {
  margin:3em;
}
.Menu { 
  margin: 0 auto;
  max-width: 60%;
  font-family: 'Nunito', sans-serif;
}

.menuCategory {
    margin-top: 50px;
    margin-bottom: 50px;
}

.Menu h1{
  font-size: 22px;
  font-weight: 900;
  color: #747474;
  margin-top: 12px;
  letter-spacing: 0.51px;
}  

.menuItems {
  font-size: 14px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 40px;
  color: #4a4a4a;
  letter-spacing: 0.34px;
}

.namePrice {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* contact form */
.contact-section p {
  display: flex;
  align-self: center;
  /* text-align: center; */
}

.contact-us {
  font-size: 36px;
  font-family: 'Nunito', sans-serif;
  color: #747474;

}
.contact-section {
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
}
.contact-form {
  /* margin: 0 auto; */
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  flex-basis: 500px;
  flex-grow: 1;
  /* width: max-content; */
  height: 500px;
}

.contact-form .input {
  display: flex;
  font-style: oblique;
  width: -webkit-fill-available;
  margin: auto;
  border: 0;
  border-bottom: 1px solid black;
}

.form-address {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  margin-bottom: 33px;
}

.bold {
  font-size: 20px;
  font-weight: bold;
  color: black;
}

.address {
  flex-grow: 1;
  text-align: center;
}


/* .namePrice p{
  margin-bottom: 20px;
} */


/* Media Query  Tablet*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    
    .logo {
      width:145px;
      height:145px;
    }
    .link-items {
      font-size: 22px;
    }
    
    .AboutUs {
      display: unset;
    }
    .Info {
      width:98%;
      padding: 20px;
      
    }
    .carousel-caption {
      font-size: 50px;
    }
    .carousel-indicators li {
      width: 10px;
      height: 10px;
    }
    .pic-gallery  {
      grid-template-columns: 1fr 1fr;
      grid-gap: 40px 38px;
      padding:20px;
    }
    .pic-gallery img {
      height: 300px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .form-address {
      display: unset;
    }
}
@media only screen
  and (max-width: 980px){

    /*About Us*/

    /* .AboutUs{
      display: unset;
      flex-direction: row;
      justify-content: center;
      margin-top: 7em;
      margin-bottom: 7em;
    } */
  }

  /* .AboutImg img{
    width: 100%;
    height: 100%;
    margin-right: unset;
    
  } */
  
  /* .Info{
    height: 100%;
    width:  100%;
  } */
  
  /*Menu*/
  /* .menuItems {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 40px;

  } */


  /* Media Query Phone*/
  @media only screen
  and (max-width: 480px){

  /*About Us*/
    body {
      overflow-x: hidden;
    }
    .AboutUs{
      display: unset;
      flex-direction: row;
      justify-content: center;
      
      margin-top: 7em;
      margin-bottom: 7em;
    }
    .menuItems {
      display: block;
    }
    .Menu {
      max-width: 80%;
  }
  #mobile-pic-gallery {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-gap: 10%;
  }

  #mobile-pic-gallery img {
    width: 100%;
    height: 200px;
  }

  .pic-gallery {
    display: none;
  }
  }
  