.App {
  /* text-align: center; */
  font-family: 'Nunito', sans-serif;
}
body {
  margin: 0 auto;
}
/* Nav */
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 150px;
  /* justify-content: space-around; */
  align-items: center;
  font-size:26px;
  margin-top: -20px;
  
}
/* .logo {
  flex: grow;
} */
.logo-nav {
  
  /* display: flex; */
  justify-content: center;

}
.link-items {
  padding:15px;
  min-width: 600px;
  display: flex;
  justify-content: space-around;
}

.logo {
  border-radius: 100%;
  object-fit: cover;
  z-index: 8;
  position: fixed;
  margin-left: 10px;
}
.link {
  color: #747474;
  letter-spacing: 0.51px;
  text-decoration: none;
  /* padding: 15px;
  margin: 20px; */
}

.resy {
  font-family: Arial;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  cursor:pointer;
}
span {
  background-color: white;
}

/* span p {
  color: red !important;
} */
/* Carousel */
.carousel-caption {
  left: -50%;
  right: 10px;
  font-family: 'Nunito', sans-serif;
  bottom: 40px;
  font-size: 64px;
  letter-spacing: 1.37px;
  color: #ffffff; 
}

.carousel-indicators li{
  width: 16px;
  height: 16px;
  border-radius: 100%;
  border: 4px solid white;
  background:none;
  margin-left: 6px;
  
}

.carousel-indicators li .active{
  background-color: white !important;
  
}

/*About Us*/
.AboutUs{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 7em;
  margin-bottom: 7em;
}

.Info{
  font-family: 'Nunito', sans-serif;
  margin-top: 2em;
  margin-left: 5em;
  height: 225px;
  width:  518px;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.39px;
  color: #4a4a4a;
}

/* Pic section */

.pic-section p {
  text-align: center;
  color: #747474;
  font-size: 36px;
  
}

.pic-gallery {
  display: grid;
  grid-template-rows: 350px 350px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px 48px;
}

.pic-gallery img {
  object-fit: cover;
  height: 350px;
  width: 100%;
  margin: 10px;
  padding-left: 50px;
  padding-right: 50px;
}

/* Menu */
.Dinner{
    margin: 0 auto;
    max-width: 60%;
    font-family: 'Nunito', sans-serif;
  }

.menuItems {
  font-size: 14px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 40px;
  color: #4a4a4a;
}

.namePrice {
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

/* .namePrice p{
  margin-bottom: 0px;
} */